.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.identicon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 0.1em;
}

textarea {
  height: 6em;
}
