{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}Stellar Quest Scammer Buster{% endblock %}

{% block bootstrap5_extra_head %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}
    <div class="my-5 px-3 py-3 text-center">
        <h1 class="display-5">Let's bust some scammers!</h1>
    </div>
    <div id="d3-container text-center">
        <svg width="1200" height="800" class="d-block mx-auto"></svg>
    </div>
{% endblock %}

{% block bootstrap5_extra_script %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{% static 'js/graph2.js' %}"></script>
{% endblock %}